.articleCard {
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    width: 40%;
    height: 20vw;
    padding: 20px;
    margin-top: 50px;
}
.articleContainer {
    width: 90%;
    height: 97%;
    margin: 0 auto;
    overflow-y: hidden;
}
.articleContainer p {
    text-indent: 2rem;
}

.ownerSpan {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1rem;
}
.ownerSpan:hover {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1rem;
    cursor: auto;
}

.articleShowCard {
    height: 60vh;
    line-height: 1.4rem;
    overflow-y: scroll;
}
.articleShowCard h2 {
    text-align: center;
}
.articleShowCard p {
    text-indent: 2rem;
}